<%- include("partials/header.ejs") %>

<div id="content-container" class="color-2">
    <div class="margin-tb">
        <h1 class="color-1 center"><%= currentBook.title %></h1>
        <h2 class="color-2 center"><%= currentBook.author_name.join(", ") %></h2>
    </div>
    <div class="description-container">
        <div class="img-container">
            <img src="https://covers.openlibrary.org/b/ID/<%= currentBook.cover_i %>-L.jpg">
        </div>
        <div class="description-content">
            <% if (noteEntries.length == 0) { %>
                <p>You have not written any note.</p>
                <button class="btn button-bg-1" onclick="location.href='/create'">Create a note</button>
            <% } else { %>
                <p class="description"><%= noteEntries[0].description %></p>
                <div class="button-group margin-tb">
                    <button class="btn button-bg-1" formaction="/editmain">Edit</button>
                    <button class="btn button-bg-4" formaction="/delete">Delete</button>
                </div>
            <% } %>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") %>